<?xml version="1.0" encoding="UTF-8"?>
<config>
  <object id="20">
    <metadata key="name" value="LegRib.stl"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="6720"/>
    <part id="16" subtype="normal_part">
      <metadata key="name" value="LegRib.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="LegRib.stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="24.299999237060547"/>
      <metadata key="source_offset_y" value="4"/>
      <metadata key="source_offset_z" value="-8"/>
      <mesh_stat face_count="6720" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="21">
    <metadata key="name" value="LegRib.stl"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="6720"/>
    <part id="16" subtype="normal_part">
      <metadata key="name" value="LegRib.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="LegRib.stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="24.299999237060547"/>
      <metadata key="source_offset_y" value="4"/>
      <metadata key="source_offset_z" value="-8"/>
      <mesh_stat face_count="6720" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="18">
    <metadata key="name" value="LegRib.stl"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="6720"/>
    <part id="16" subtype="normal_part">
      <metadata key="name" value="LegRib.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="LegRib.stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="24.299999237060547"/>
      <metadata key="source_offset_y" value="4"/>
      <metadata key="source_offset_z" value="-8"/>
      <mesh_stat face_count="6720" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="19">
    <metadata key="name" value="LegRib.stl"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="6720"/>
    <part id="16" subtype="normal_part">
      <metadata key="name" value="LegRib.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="LegRib.stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="24.299999237060547"/>
      <metadata key="source_offset_y" value="4"/>
      <metadata key="source_offset_z" value="-8"/>
      <mesh_stat face_count="6720" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="22">
    <metadata key="name" value="LegRib.stl"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="6720"/>
    <part id="16" subtype="normal_part">
      <metadata key="name" value="LegRib.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="LegRib.stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="24.299999237060547"/>
      <metadata key="source_offset_y" value="4"/>
      <metadata key="source_offset_z" value="-8"/>
      <mesh_stat face_count="6720" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="8">
    <metadata key="name" value="FrameSideServoHolder.stl"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="5104"/>
    <part id="4" subtype="normal_part">
      <metadata key="name" value="FrameSideServoHolder.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 9.5367431599999998e-07 0 0 0 1"/>
      <metadata key="source_file" value="FrameSideServoHolder.stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="17.399999618530273"/>
      <metadata key="source_offset_y" value="8"/>
      <metadata key="source_offset_z" value="-23.251650333404541"/>
      <mesh_stat face_count="5104" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="5">
    <metadata key="name" value="FrameSideServoHolder.stl"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="5104"/>
    <part id="4" subtype="normal_part">
      <metadata key="name" value="FrameSideServoHolder.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 9.5367431599999998e-07 0 0 0 1"/>
      <metadata key="source_file" value="FrameSideServoHolder.stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="17.399999618530273"/>
      <metadata key="source_offset_y" value="8"/>
      <metadata key="source_offset_z" value="-23.251650333404541"/>
      <mesh_stat face_count="5104" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="7">
    <metadata key="name" value="FrameSideServoHolder.stl"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="5104"/>
    <part id="4" subtype="normal_part">
      <metadata key="name" value="FrameSideServoHolder.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 9.5367431599999998e-07 0 0 0 1"/>
      <metadata key="source_file" value="FrameSideServoHolder.stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="17.399999618530273"/>
      <metadata key="source_offset_y" value="8"/>
      <metadata key="source_offset_z" value="-23.251650333404541"/>
      <mesh_stat face_count="5104" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="6">
    <metadata key="name" value="FrameSideServoHolder.stl"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="5104"/>
    <part id="4" subtype="normal_part">
      <metadata key="name" value="FrameSideServoHolder.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 9.5367431599999998e-07 0 0 0 1"/>
      <metadata key="source_file" value="FrameSideServoHolder.stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="17.399999618530273"/>
      <metadata key="source_offset_y" value="8"/>
      <metadata key="source_offset_z" value="-23.251650333404541"/>
      <mesh_stat face_count="5104" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="3">
    <metadata key="name" value="Frame.stl"/>
    <metadata key="enable_support" value="1"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="8490"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="Frame.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="Frame.stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="8"/>
      <metadata key="source_offset_z" value="0"/>
      <mesh_stat face_count="8490" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="2" subtype="negative_part">
      <metadata key="name" value="text_shape"/>
      <metadata key="matrix" value="0.99999960513646324 0.00088913873322259054 -4.460856050984151e-08 2.5403289794921591 0.00088913873329239483 -0.9999996045610775 -7.9837822778610137e-07 0.12162017822265625 -4.5256692150774658e-08 7.9833753878605044e-07 -0.99999999980494081 -77.500000000000014 0 0 0 1"/>
      <metadata key="extruder" value="1"/>
      <text_info text="MAGI" font_name="Georgia" font_version="2.5" style_name="Recommend" boldness="0" skew="0" font_index="-1" font_size="10" thickness="3" embeded_depth="0" rotate_angle="0" text_gap="2.309999942779541" bold="0" italic="0" surface_type="0" hit_mesh="0" hit_position="0 0 0" hit_normal="0 0 0" />
      <mesh_stat face_count="1200" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="15">
    <metadata key="name" value="ElectronicsPlate.stl"/>
    <metadata key="detect_thin_wall" value="1"/>
    <metadata key="extruder" value="1"/>
    <metadata key="skeleton_infill_density" value="25%"/>
    <metadata key="skin_infill_density" value="25%"/>
    <metadata key="sparse_infill_density" value="25%"/>
    <metadata face_count="13400"/>
    <part id="14" subtype="normal_part">
      <metadata key="name" value="ElectronicsPlate.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="ElectronicsPlate.stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="1.75"/>
      <metadata key="source_offset_z" value="0.09999847412109375"/>
      <mesh_stat face_count="13400" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="17">
    <metadata key="name" value="LegRib.stl"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="6720"/>
    <part id="16" subtype="normal_part">
      <metadata key="name" value="LegRib.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="LegRib.stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="24.299999237060547"/>
      <metadata key="source_offset_y" value="4"/>
      <metadata key="source_offset_z" value="-8"/>
      <mesh_stat face_count="6720" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="12">
    <metadata key="name" value="CoxaSide2_8holes.stl"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="4750"/>
    <part id="9" subtype="normal_part">
      <metadata key="name" value="CoxaSide2_8holes.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="CoxaSide2_8holes.stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="27.125"/>
      <metadata key="source_offset_y" value="5"/>
      <metadata key="source_offset_z" value="-8.0000002384185791"/>
      <mesh_stat face_count="4750" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="11">
    <metadata key="name" value="CoxaSide2_8holes.stl"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="4750"/>
    <part id="9" subtype="normal_part">
      <metadata key="name" value="CoxaSide2_8holes.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="CoxaSide2_8holes.stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="27.125"/>
      <metadata key="source_offset_y" value="5"/>
      <metadata key="source_offset_z" value="-8.0000002384185791"/>
      <mesh_stat face_count="4750" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="13">
    <metadata key="name" value="CoxaSide2_8holes.stl"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="4750"/>
    <part id="9" subtype="normal_part">
      <metadata key="name" value="CoxaSide2_8holes.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="CoxaSide2_8holes.stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="27.125"/>
      <metadata key="source_offset_y" value="5"/>
      <metadata key="source_offset_z" value="-8.0000002384185791"/>
      <mesh_stat face_count="4750" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="10">
    <metadata key="name" value="CoxaSide2_8holes.stl"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="4750"/>
    <part id="9" subtype="normal_part">
      <metadata key="name" value="CoxaSide2_8holes.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="CoxaSide2_8holes.stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="27.125"/>
      <metadata key="source_offset_y" value="5"/>
      <metadata key="source_offset_z" value="-8.0000002384185791"/>
      <mesh_stat face_count="4750" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="23">
    <metadata key="name" value="LegRib.stl"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="6720"/>
    <part id="16" subtype="normal_part">
      <metadata key="name" value="LegRib.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="LegRib.stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="24.299999237060547"/>
      <metadata key="source_offset_y" value="4"/>
      <metadata key="source_offset_z" value="-8"/>
      <mesh_stat face_count="6720" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="24">
    <metadata key="name" value="LegRib.stl"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="6720"/>
    <part id="16" subtype="normal_part">
      <metadata key="name" value="LegRib.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="LegRib.stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="24.299999237060547"/>
      <metadata key="source_offset_y" value="4"/>
      <metadata key="source_offset_z" value="-8"/>
      <mesh_stat face_count="6720" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <plate>
    <metadata key="plater_id" value="1"/>
    <metadata key="plater_name" value=""/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="filament_maps" value="1"/>
    <metadata key="filament_volume_maps" value="0"/>
    <metadata key="thumbnail_file" value="Metadata/plate_1.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_1.png"/>
    <metadata key="top_file" value="Metadata/top_1.png"/>
    <metadata key="pick_file" value="Metadata/pick_1.png"/>
    <model_instance>
      <metadata key="object_id" value="3"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="931"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="5"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="942"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="6"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="953"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="7"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="975"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="8"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="997"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="10"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="1019"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="11"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="1030"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="12"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="1052"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="13"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="1074"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="15"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="1096"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="17"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="1107"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="18"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="1118"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="19"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="1140"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="20"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="1162"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="21"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="1184"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="22"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="1206"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="23"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="1228"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="24"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="1250"/>
    </model_instance>
  </plate>
  <assemble>
   <assemble_item object_id="20" instance_id="0" transform="1 0 0 0 1 0 0 0 1 37.269962310791016 56.541152954101562 8" offset="0 0 0" />
   <assemble_item object_id="21" instance_id="0" transform="1 0 0 0 1 0 0 0 1 37.269962310791016 47.541152954101562 8" offset="0 0 0" />
   <assemble_item object_id="18" instance_id="0" transform="1 0 0 0 1 0 0 0 1 37.269962310791016 74.541152954101562 8" offset="0 0 0" />
   <assemble_item object_id="19" instance_id="0" transform="1 0 0 0 1 0 0 0 1 37.269962310791016 65.541152954101562 8" offset="0 0 0" />
   <assemble_item object_id="22" instance_id="0" transform="1 0 0 0 1 0 0 0 1 37.269962310791016 38.541152954101562 8" offset="0 0 0" />
   <assemble_item object_id="8" instance_id="0" transform="-2.2204460474066515e-16 4.9303806535375705e-32 1 -1.0000000002767708 2.2204460498648678e-16 -2.2204460480212062e-16 -2.2204460498648678e-16 -1.0000000002767708 -2.1895288516437724e-47 131.754638671875 192.11366271972656 17.399999618530273" offset="0 0 0" />
   <assemble_item object_id="5" instance_id="0" transform="0.99999999999999967 0 0 0 0.99999999999999956 0 0 0 0.99999999999999967 231.2897093963623 0 63.496698379516602" offset="0 0 0" />
   <assemble_item object_id="7" instance_id="0" transform="-2.2204460492503131e-16 0 0.99999999999999944 -1 2.2204460492503131e-16 -2.2204460492503116e-16 -2.2204460492503118e-16 -0.99999999999999944 0 131.754638671875 192.11366271972656 17.399999618530273" offset="0 0 0" />
   <assemble_item object_id="6" instance_id="0" transform="-2.2204460492503131e-16 0 0.99999999999999944 -1 2.2204460492503131e-16 -2.2204460492503116e-16 -2.2204460492503118e-16 -0.99999999999999944 0 131.754638671875 192.11366271972656 17.399999618530273" offset="0 0 0" />
   <assemble_item object_id="3" instance_id="0" transform="0.99999999957961472 0 0 0 1.0000000001546823 0 0 0 1.0000000001947418 345.05867991638183 0 155" offset="0 0 0" />
   <assemble_item object_id="15" instance_id="0" transform="1.0000000001147256 0 0 0 1 0 0 0 1.0000000001147256 635.56475269882162 105.18100595474243 155.19999694824219" offset="0 0 0" />
   <assemble_item object_id="17" instance_id="0" transform="1 0 0 0 1 0 0 0 1 790.66122697688252 107.93100595474243 15.999999999999996" offset="0 0 0" />
   <assemble_item object_id="12" instance_id="0" transform="1.0000000004439034 0 0 0 1.0000000004439022 0 0 0 1.0000000000000004 178.07421875 84.68438720703125 10.747188568115234" offset="0 0 0" />
   <assemble_item object_id="11" instance_id="0" transform="1 0 0 0 1 0 0 0 1 178.07421875 95.68438720703125 10.747188568115234" offset="0 0 0" />
   <assemble_item object_id="13" instance_id="0" transform="1 0 0 0 1 0 0 0 1 178.07421875 73.68438720703125 10.747188568115234" offset="0 0 0" />
   <assemble_item object_id="10" instance_id="0" transform="1 0 0 0 1 0 0 0 1 481.50204790801973 105.18100595474243 21.494377136230469" offset="0 0 0" />
   <assemble_item object_id="23" instance_id="0" transform="1 0 0 0 1 0 0 0 1 86.869964599609375 83.541152954101562 8" offset="0 0 0" />
   <assemble_item object_id="24" instance_id="0" transform="1 0 0 0 1 0 0 0 1 86.869964599609375 74.541152954101562 8" offset="0 0 0" />
  </assemble>
</config>
